<a href="https://colab.research.google.com/github/vipul2710/DS-projects/blob/main/Python_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random

# --- Step 1: Create messy sales dataset locally ---
data = [
    {"id": "001", "date": "2023-01-05", "customer_name": " Alice ", "region": "US",    "product": "A", "sales_amount": "250"},
    {"id": "002", "date": "05/02/2023", "customer_name": "bob",       "region": "U.S.A.", "product": "B", "sales_amount": "300"},
    {"id": "003", "date": "2023-03-03", "customer_name": "Charlie",   "region": "usa",   "product": None, "sales_amount": "400"},
    {"id": "004", "date": "2023.04.07", "customer_name": "Esha",      "region": "Uk",    "product": "A", "sales_amount": "-50"},
    {"id": "005", "date": "2023-04-07", "customer_name": "Esha",      "region": "UK ",   "product": "A", "sales_amount": "NA"},
    {"id": "002", "date": "2023-05-10", "customer_name": "Bob",       "region": "U.S.A.", "product": "B", "sales_amount": "500"},
    {"id": "006", "date": "07-06-2023", "customer_name": "  dave",    "region": "In",    "product": "C", "sales_amount": ""},
    {"id": None,  "date": "2023/07/08", "customer_name": "Faith",     "region": "IND",   "product": "C", "sales_amount": "700"},
    {"id": "008", "date": "2023-08-09", "customer_name": "Gina",      "region": "uSa",   "product": "B", "sales_amount": "1000"},
]

In [ ]:
regions = ["US","U.S.A.","usa","UK","Uk","IN","Ind","in","uSa"]

In [ ]:
for i in range(9,30):
    data.append({
        "id": str(100+i%10),
        "date": random.choice(["2023-09-10","10-09-2023","2023/09/10","Sep 10 2023"]),
        "customer_name": random.choice(["Ann","Ben "," Carl","dave","eva"]),
        "region": random.choice(regions),
        "product": random.choice(["A","B","C", None]),
        "sales_amount": random.choice(["250","NA","", str(random.randint(50,900)), "-10"])
    })

In [ ]:
df_messy = pd.DataFrame(data)
df_messy.to_csv("sales_data_messy.csv", index=False)
print(f"‚úÖ Dataset created: sales_data_messy.csv  | Rows: {len(df_messy)}")

‚úÖ Dataset created: sales_data_messy.csv  | Rows: 30

In [ ]:
df = pd.read_csv("sales_data_messy.csv")

In [ ]:
print("\nüìÑ HEAD (Top 8 rows)")
display(df.head(8))

üìÑ HEAD (Top 8 rows)

    id        date customer_name  region product  sales_amount
0  1.0  2023-01-05        Alice       US       A         250.0
1  2.0  05/02/2023           bob  U.S.A.       B         300.0
2  3.0  2023-03-03       Charlie     usa     NaN         400.0
3  4.0  2023.04.07          Esha      Uk       A         -50.0
4  5.0  2023-04-07          Esha     UK        A           NaN
5  2.0  2023-05-10           Bob  U.S.A.       B         500.0
6  6.0  07-06-2023          dave      In       C           NaN
7  NaN  2023/07/08         Faith     IND       C         700.0

In [ ]:
print("\n‚ÑπÔ∏è INFO")
df.info()

‚ÑπÔ∏è INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             29 non-null     float64
 1   date           30 non-null     object
 2   customer_name  30 non-null     object
 3   region         30 non-null     object
 4   product        22 non-null     object
 5   sales_amount   17 non-null     float64
dtypes: float64(2), object(4)
memory usage: 1.5+ KB

In [ ]:
print("\nüìä DESCRIBE (include all)")
display(df.describe(include='all').T)

üìä DESCRIBE (include all)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,29.0,NaN,NaN,NaN,76.896552,45.954438,1.0,8.0,103.0,106.0,109.0
date,30,13,2023/09/10,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
customer_name,30,13,Ben,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,30,12,uSa,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product,22,3,C,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sales_amount,17.0,NaN,NaN,NaN,394.352941,292.660627,-50.0,250.0,400.0,500.0,1000.0

In [ ]:
print("\n‚ùì MISSING VALUES (per column)")
print(df.isnull().sum())

‚ùì MISSING VALUES (per column)
id                1
date              0
customer_name     0
region            0
product           8
sales_amount     13
dtype: int64

In [ ]:
print("\nüîÅ NUNIQUE (per column)")
print(df.nunique())

üîÅ NUNIQUE (per column)
id               17
date             13
customer_name    13
region           12
product           3
sales_amount     14
dtype: int64

In [ ]:
print("\nüìã DUPLICATES count:", df.duplicated().sum())

üìã DUPLICATES count: 0

In [ ]:
print("\nüé≤ RANDOM SAMPLE (8 rows)")
display(df.sample(8))

üé≤ RANDOM SAMPLE (8 rows)

       id         date customer_name  region product  sales_amount
1     2.0   05/02/2023           bob  U.S.A.       B         300.0
4     5.0   2023-04-07          Esha     UK        A           NaN
12  102.0  Sep 10 2023          Ben   U.S.A.       A           NaN
18  108.0   10-09-2023           eva     Ind       C         -10.0
10  100.0   10-09-2023           eva      IN       C         416.0
2     3.0   2023-03-03       Charlie     usa     NaN         400.0
16  106.0   10-09-2023           eva      UK       B           NaN
20  100.0   2023/09/10          dave     uSa       A         250.0

In [ ]:
print("\nüíæ MEMORY USAGE (bytes):", df.memory_usage(deep=True).sum())

üíæ MEMORY USAGE (bytes): 6897

In [ ]:
df['region'].value_counts().head(10)

region
uSa       6
usa       5
U.S.A.    4
US        2
Uk        2
UK        2
IN        2
in        2
Ind       2
IND       1
Name: count, dtype: int64

In [ ]:
df['id'] = df['id'].astype(str)

In [ ]:
#keep first occurence and drop rest
df = df.drop_duplicates(subset='id', keep='first')

In [ ]:
df = df.dropna(subset=['id'])
df

       id         date customer_name  region product  sales_amount
0     1.0   2023-01-05        Alice       US       A         250.0
1     2.0   05/02/2023           bob  U.S.A.       B         300.0
2     3.0   2023-03-03       Charlie     usa     NaN         400.0
3     4.0   2023.04.07          Esha      Uk       A         -50.0
4     5.0   2023-04-07          Esha     UK        A           NaN
6     6.0   07-06-2023          dave      In       C           NaN
7     nan   2023/07/08         Faith     IND       C         700.0
8     8.0   2023-08-09          Gina     uSa       B        1000.0
9   109.0  Sep 10 2023          dave      in     NaN           NaN
10  100.0   10-09-2023           eva      IN       C         416.0
11  101.0  Sep 10 2023          dave      in       B         890.0
12  102.0  Sep 10 2023          Ben   U.S.A.       A           NaN
13  103.0   2023/09/10           eva      UK       C           NaN
14  104.0   10-09-2023          Ben      usa     NaN         310.0
15  105.0  Sep 10 2023          Carl     uSa     NaN           NaN
16  106.0   10-09-2023           eva      UK       B           NaN
17  107.0   2023/09/10          Ben       Uk       B         250.0
18  108.0   10-09-2023           eva     Ind       C         -10.0

In [ ]:
#date conversion
df['date'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=False)

In [ ]:
df['date'].isna().sum()

np.int64(14)

In [ ]:
df['customer_name'] = df['customer_name'].str.strip().str.title()

In [ ]:
df['customer_name'].unique()

array(['Alice', 'Bob', 'Charlie', 'Esha', 'Dave', 'Faith', 'Gina', 'Eva',
       'Ben', 'Carl'], dtype=object)

In [ ]:
df['region'] = df['region'].astype(str).str.lower().str.strip()

In [ ]:
#removing puncutation
df['region'] = df['region'].str.replace(r'[^a-z]', '', regex=True)

In [ ]:
region_map = {
    r'^(us|usa|us a|usaa)$': 'usa',
    r'^(uk|uuk|unit?edkingdom)$': 'uk',   # permissive, but mapping regex anchors help
    r'^(in|ind|india)$': 'india'
}

In [ ]:
for pat, val in region_map.items():
    df['region'] = df['region'].replace(pat, val, regex=True)

In [ ]:
print("Unique regions after mapping:", df['region'].unique())

Unique regions after mapping: ['usa' 'uk' 'india']

In [ ]:
df['region'] = df['region'].astype('category')

In [ ]:
print(df['region'].value_counts(dropna=False))

region
usa      7
india    6
uk       5
Name: count, dtype: int64

In [ ]:
df['product'].value_counts().head(10)

product
B    5
C    5
A    4
Name: count, dtype: int64

In [ ]:
df['product'] = df.groupby('region')['product'].transform(
    lambda x: x.fillna(x.mode()[0] if not x.mode().empty else None)
)

/tmp/ipython-input-565095723.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['product'] = df.groupby('region')['product'].transform(

In [ ]:
df['product'].isna().sum()
df['product'].value_counts()

product
A    7
C    6
B    5
Name: count, dtype: int64

In [ ]:
df['sales_amount'] = df['sales_amount'].replace(['NA', '', 'None'], pd.NA)

In [ ]:
df['sales_amount'] = pd.to_numeric(df['sales_amount'], errors='coerce')

In [ ]:
df.loc[df['sales_amount'] < 0, 'sales_amount'] = pd.NA

In [ ]:
median_sales = df['sales_amount'].median()
df['sales_amount'] = df['sales_amount'].fillna(median_sales)

In [ ]:
print(df['sales_amount'].describe())
print("Missing values:", df['sales_amount'].isna().sum())
print("Negative values:", (df['sales_amount'] < 0).sum())

count      18.000000
mean      450.888889
std       203.909117
min       250.000000
25%       400.000000
50%       400.000000
75%       400.000000
max      1000.000000
Name: sales_amount, dtype: float64
Missing values: 0
Negative values: 0

In [ ]:
df.to_csv("sales_data_cleaned.csv", index=False)
print("‚úÖ Cleaned dataset saved as 'sales_data_cleaned.csv'")

‚úÖ Cleaned dataset saved as 'sales_data_cleaned.csv'